.wcaption {
    margin: 0px 0px 0px 10px;vertical-align: middle;padding:0px 15px 0px 0px;font-weight: bold;font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif;color:#333;
}

.z-window-content {
    border: 0px solid #cfcfcf;
    margin: 0;
    padding: 0px;
    background: #fff;
    overflow: hidden;
    zoom: 1;
}
.z-grid-body .z-cell {
    font-family: Arial,Sans-serif;
    font-size: 12px;
    padding: 0px;
    line-height: 24px;
    overflow: hidden;
}

.z-tabpanel {
    border: 0px solid #cfcfcf;
    border-top: 0;
    padding: 5px;
    zoom: 1;
}

body {
    margin: 0px;
    padding: 0px;
}  

.footer {
    vertical-align: middle;
    font-size: 11px;
    text-decoration: none;
    font-family: Arial,Sans-serif;    
}

.z-caption .z-label {
    float: right;
}

.numbox {
    color: #555 !important; 
    font-size: 13px !important; 
    font-family: Verdana, Arial, Helvetica, sans-serif !important;    
    text-align: right;
}
